const char *MQTT_SERVER = "broker.hivemq.com";
const int MQTT_PORT = 1883;
const char *MQTT_DUST_TOPIC = "sensor/dust/Dust_Wifi_00000000";
const char *MQTT_BME_TOPIC_PREFIX = "sensor/bme/";
const char *SSID = "your_wifi_ssid";
const char *PWD = "your_wifi-pwd";
